/* $Id: defaults.css,v 1.1.2.1 2010/02/07 15:51:07 mverbaar Exp $ */

/**
 * Messages
 */
div.messages {
  padding: 9px;
  margin-bottom: 0.5em;
  color: #036;
  background: #bdf;
  border: 1px solid #ace;
}
div.warning {
  color: #840;
  background: #fe6;
  border-color: #ed5;
}
div.error {
  color: #fff;
  background: #e63;
  border-color: #d52;
}
div.error p.error {
  color: #333;
}
div.status {
  color: #360;
  background: #cf8;
  border-color: #be7;
}

/**
 * "More" links
 */
.more-link {
  text-align: right; /* LTR */
}
.more-help-link {
  text-align: right; /* LTR */
}

/**
 * Pagers
 */
.item-list .pager {
  clear: both;
  text-align: center;
}
.item-list .pager li {
  display: inline;
}
.pager-current {
  font-weight: bold;
}

/**
 * Markup free clearing
 * Details: http://www.positioniseverything.net/easyclearing.html
 */
.clear-block:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear-block {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear-block {
  height: 1%;
}
.clear-block {
  display: block;
}
/* End hide from IE-mac */
