
/** reset **/

* { margin:0; padding:0; }
.clear { clear:both; }

html { overflow-y: scroll; height: 100%; }
body { min-height: 100%; }
a img { border: 0; }


/** blocks **/

body.page-admin .draggable a.tabledrag-handle {
	cursor: move;
	float: left;
	height: 1.7em;
	margin: -0.4em 0px -0.4em -0.5em;
	padding: 0.42em 1.5em 0.42em 0.5em;
	text-decoration: none;
}
body.page-admin a.tabledrag-handle .handle {
	background: url(/misc/draggable.png) no-repeat 0px 0px;
	height: 13px;
	margin-top: 4px;
	width: 13px;
}
body.page-admin a.tabledrag-handle-hover .handle {
	background-position: 0 -20px;
}
body.page-admin tr.drag-previous {
	background-color: #eee;
}
body.page-admin tr.drag {
	background-color: #ddd;
}


/** forms **/

fieldset {
	padding:10px;
}
fieldset.collapsed {
	padding: 10px 0px 0px 10px;
}
fieldset.collapsed > .fieldset-wrapper {
	display:none;
}
.form-item {
	margin: 15px 0 0;
}
table .form-item {
	margin: 0;
}
.form-item > label {
	display: block;
}
fieldset > legend + .form-item,
fieldset > .fieldset-wrapper > .form-item:first-child {
	margin-top:0;
}
.form-item .description {
	color: #888;
	font-size: 11px;
}
input[type=submit] {
	margin:10px 10px 0 0;
}


/** messages **/

#messages {
	padding: 0.5em;
}
#messages > div.messages {
	padding: 9px 9px 9px 9px;
	color: #036;
	background: #bdf;
	border: 1px solid #ace;
}
#messages > div > ul > li {
	list-style: none;
}
#messages > div.warning {
	color: #840;
	background: #fe6;
	border-color: #ed5;
}
#messages > div.error {
	color: #fff;
	background: #e63;
	border-color: #d52;
}
#messages > div.error p.error {
	color: #333;
}
#messages > div.status {
	color: #360;
	background: #cf8;
	border-color: #be7;
}


/** tabs **/

#tabs {
	z-index: 4;
	padding-bottom:10px;
}
#tabs > ul.secondary {
	margin:5px 0 0 15px;
}
#tabs li {
	list-style: none;
	display: inline-block;
}
.ie #tabs li {
	display: inline;
	margin-right: 10px;
}
#tabs li a {
	display: inline-block;
	background: #000;
	color: #fff;
	padding: 2px 6px 3px;
	text-decoration: none;
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-o-border-radius: 0 0 4px 4px;
}
.ie #tabs li a {
	display: inline;
}
#tabs li a:hover {
	color: #bbb;
	background-color:#444;
}
